.home {
    width: 100%;
    background-color: rgba(239, 248, 237, 0.2);
    border-radius: 30px;
}


.header-1 {
    padding: 70px;
    background-color: rgba(239, 248, 237, 0.7);
    border-radius: 30px;
    height: 550px;
}

.header-2 {
    background-color: rgba(239, 248, 237, 1);
    border-radius: 30px;
}

.title-home {
    background-color: rgba(239, 248, 237, 1);
    border-radius: 30px;
    color: grey;
}

.grupo-paoletti {
    background-color: white;
    border-radius: 30px;
}

.section-slider {
    background-color: white;
    border-radius: 30px;
}

.title-section {
    color: grey;
}

.logo-section-1 {
    width: 300px;
}

.logo {
    width: 200px;
    height: 132px;
}

.contacto {
    background-image: url(https://i.ibb.co/BLCS0Kq/banner-contacto.png);
    background-position: center center;
    background-size: cover;
    border-radius: 30px;
}

.formulario-contacto {
    border-radius: 30px;
}